.big-nav {

  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0;
  }

  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }

  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: rgb(253, 238, 219)!important;
}


// #root{
//   display: flex;
//   flex-direction: row;
// }