.clinic-color-pink-1 {
  background-color: $clinic-color-pink-1;
}

.clinic-color-blue-1 {
  background-color: $clinic-color-blue-1;
}

.clinic-color-green-1 {
  background-color: $clinic-color-green-1;
}